.header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.main {
    padding: 20px;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 20px;
}
.menu ul li {
    margin-left: 20px;
    position: relative;
}
.logo{
    color: #fff;
    font-size: 30px;
}
 
.a{
    color: rgb(9, 22, 18);
    text-decoration: none;
    font-size: 20px;
   
}
.b{
    padding-right: 10px;
}
.active{
    color: white;
}
.footer{
    text-align: center;
    background-color: orange;
    padding: 20px;
}
.menu_sub{
    position: absolute;
    top: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
}
.a{
    white-space: nowrap;
}
.menu_sub li {
     display: none;
     padding: 5px;
     margin-left: 0!important;
}
.menu ul li:hover .menu_sub li {
    display: block;
}
.login{
    background-color: #fff;
    margin-right: 10px; 
    color: rgb(9, 22, 18);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}